[MAIN]

enable-all-extensions

[MESSAGES CONTROL]
disable = missing-module-docstring,
	missing-class-docstring,
	missing-function-docstring,
	too-few-public-methods,
	too-many-instance-attributes

include-naming-hint = y
