[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[project] 
name = "eventsourcingdb"
version = "0.13.0"
description = "The official Python client SDK for EventSourcingDB."
authors = [
	{ name = "the native web GmbH", email = "hello@thenativeweb.io" }
]
readme = "README.md"
license = "MIT"
packages = [{include = "eventsourcingdb"}]

[tool.poetry.dependencies]
python = "^3.13"
aiohttp = "3.11.16"
testcontainers = "4.10.0"

[tool.poetry.group.dev.dependencies]
pytest = "8.3.5"
flask = "3.1.0"
pylint = "3.3.5"
autopep8 = "2.3.2"
pytest-timeout = "2.3.1"
pytest-asyncio = "0.25.3"
